.vertical-navbar{
    width: 10em;
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.links{
    text-align: center;
    margin: 2em 0 0 0;
    text-decoration: none;
    color: #4F4F4F;

}

.logo-link{
    margin-top: 4em;
    text-decoration: none;
    color: #4F4F4F;
}