
.nav-links {
  margin: 0 5em 0 0;
  text-decoration: none;
  color: #4F4F4F;
}

.nav-links:hover{
    text-decoration: none;
}

.text-container{
  margin: 4em 0 0 4em;
}

.sub-text{
    color: #4F4F4F;
}

.nav {
  margin: 3em 3em 0 4em;
 
}
